*{
    padding: 0;
    margin: 0;
}

/* Important Styling Starts here  */

a
{
    text-decoration: none;
}

/* Important Styling ends here  */
#top-bar
{
    background-color: #f04b35;
    height: 35px;
    line-height: 35px;
}


#header
{
    background-color: #f04b35;
}


.circle-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }